.price__tabs_data_nomics {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 16px 0 40px;
}

.price__tabs_date {
	color: #737373;
	font: 8px/1.38 'Work Sans',sans-serif;
    text-align: left;
}
